/* =Structure/Scaffolding
-------------------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: $body-color;
  background-color: $body-bg;
  height: 100vh;
  word-break: break-word;
  font-family: $copy-font;
  margin: 0;
  position: relative;
  @include perspective(1000px);

  &.menu-open {
    overflow: hidden;
  }
}

#page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $black;
  @include transition(all .3s ease-in-out);

  &.menu-open {
    @include transform(scale(.5) rotateY(30deg));
  }
}

figure{
  margin: 0;
}

a {
  &:visited {
    color: inherit;
  }
}

img {
  width: auto;
  height: auto;
}

.wrap {
  @include outer-container;
  padding-left: 30px;
  padding-right: 30px;

  @include media($mobile){
    padding-left: 10px;
    padding-right: 10px;
  }

  &.wrap--full{
    padding-left: 0px;
    padding-right: 0px;
  }
}