a{
  color: $body-color;
  @include transition(all 0.3s ease-in-out);
  &:active,
  &:hover,
  &:focus{
    color: inherit;
  }
}

h1,
h2,
h3,
h4,
h5,
h6{
  font-family: $title-font;
}

h1 {
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 2px;
}