/* =Structure/Scaffolding
-------------------------------------------------------------- */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  color: $body-text-color;
  height: 100%;
  min-height: 100vh;
  word-break: break-word;
  font-family: $copy-font;
  margin: 0;
  background-color: $body-bg-color;
}

figure{
  margin: 0;
}

img {
  width: auto;
  height: auto;
}

.wrap {
  @include outer-container;
  padding-left: 30px;
  padding-right: 30px;

  @include media($mobile){
    padding-left: 10px;
    padding-right: 10px;
  }

  &.wrap--full{
    padding-left: 0px;
    padding-right: 0px;
  }
}