.menu-button-bg {
  position: fixed;
  right: 0;
  top: 0;
  height: 50px;
  width: 50px;
  z-index: 1;
  background-color: $aqua-green;
  @include transition(background-color .3s ease-in-out);

  &.menu-open {
    background-color: red;
  }
}

.menu-button {

  $dot-size: 10px;

  position: fixed;
  z-index: 1;
  right: 5px;
  top: 20px;
  height: 10px;
  width: 40px;
  cursor: pointer;
  @include transition(transform .3s ease-in-out);

  &.menu-open {
    @include transform(rotate(630deg));
  }

  span {
    color: $white;
    position: absolute;
    left: 50%;
    top: 0;
    @include transform(translateX(-50%));
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }

  span:before {
    content: '';
    position: absolute;
    top: -1px;
    left: -15px;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }

  span:after {
    content: '';
    position: absolute;
    top: -1px;
    left: 13px;
    width: $dot-size;
    height: $dot-size;
    border-radius: 50%;
    border: solid 1px currentColor;
    background-color: currentColor;
  }
}

