// VARIABLES

//Colors

$black: #000000;
$white: #ffffff;

// General Site Colors

$body-bg: $black;
$body-color: $white;

//Fonts

$title-font: 'Source Sans Pro', sans-serif;
$copy-font: 'Roboto Slab', serif;
$nav-font: 'Sequel Regular';
