// VARIABLES

//Colors

$black: #000000;
$white: #ffffff;
$aqua-green: #3c948b;

// General Site Colors

$body-bg: red;
$body-color: $white;

//Fonts

// $title-font: 'Source Sans Pro', sans-serif;
$copy-font: 'Roboto Slab', serif;
$nav-font: 'Sequel Regular';
$title-font: 'Roboto Mono', monospace;
