@import "vendor/neat/neat-helpers";

// Adding a Visual Grid while you develop. Set to 'true.'
$visual-grid: false;
$visual-grid-color: #ccc;
$visual-grid-index: front;
$visual-grid-opacity: 0.2;

// Change the grid settings
// $column: 55px;
// $gutter: 25px;
// $grid-columns: 12;
$max-width: 1280px;
// $max-width-container: 1030px;

// Breakpoints
$tablet-portrait: 768px;
$phone: 640px;
$big-tablet: 900px;
$small-desktop: 960px;


$desktop: new-breakpoint(max-width $small-desktop 12);
$large-tablet: new-breakpoint(max-width $big-tablet 12);
$tablet: new-breakpoint(max-width $tablet-portrait 12);
$mobile: new-breakpoint(max-width $phone 12);